/*
 *
 * Codefest 2014
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

/*
 *  Site banner
 */
#banner {    
    background-color: #3cb878;
}

#banner-logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

#banner-date-location {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.4em;
    color: white;
}

#banner-register {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*
 *  Site footer
 */
#footer {
    background: rgba(60,184,120,.3);
    text-align: center;
    padding-top: 15px;
}

/*
 *  Site menu
 */
#site-menu {
	background: #464646;
    padding-left: 0;
    padding-right: 0;
}

#site-menu .list-group a.list-group-item {
	background: transparent;
	color: white;
    border: none;
	border-bottom: 1px solid #525252;
    padding-left: 5em;
    text-decoration: none;
}

#site-menu .list-group a.list-group-item:hover,
#site-menu .list-group a.list-group-item:focus {
    background-color: #3e3e3e;
    text-decoration: underline;
}

.menu-util {
    color: #e3cc5e !important;
}

/*
 *  Content area
 */
#content-area {
    line-height: 30px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
 
}

#announcements {
    
    margin-top: 15px;
}

#intro {
    line-height: 30px;

    margin-top: 15px;  
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
}

/*
 *  Bootstrap overrides
 */
.btn-info {
    background-color: #464646;
}

/*
 *  WET overrides
 */
.wb-twitter {
    padding-top: 15px;
    padding-bottom: 15px;
}
