[submodule "wet-boew"]
	path = wet-boew
	url = https://github.com/wet-boew/wet-boew-dist.git
	branch = v4.0-dist
[submodule "codefest4"]
	path = codefest4
	url = https://github.com/wet-boew/codefest.git
	branch = codefest4
