/*
 *
 * Codefest 2014
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

/*
 *	Splash page banner
 */
#wb-bnr {
	background: #52d591;
}

/*
 *	Splash page logo
 */
.wb-sppe #wb-bnr object {
	width: 100%;
}

/*
 *  Site banner
 */
#banner {
	background-color: #52d591;
}

#banner-logo {
	background-color: #464646;
    padding-top: 15px;
    padding-bottom: 10px;
    min-height: 73px;
}

#banner-logo a {
	display: block;
}

#banner-logo a object[type="image/svg+xml"] {
	pointer-events: none;
	width: 100%;
}

#banner-date-location {
	background-color: #52d591;
    padding-top: 25px;
    font-size: 1.4em;
    color: #464646;
    line-height: 1em;
}

#banner-register {
	background-color: #52d591;
    padding-top: 15px; 
    margin-top: 2px;
}

@media (min-width: 768px) {
	#banner-date-location span {
		display: inline-block;
		text-align: center;
		vertical-align: top;
	}    

	#banner-date, #banner-location {
		width: 49%;
	}
    
}

@media (min-width: 480px) and (max-width: 768px) {
       #banner-register {
            width: 50%;   
       }
}

@media (max-width: 768px) {
    #banner-date, #banner-location {
        width: 100%; 
        display: block;
        padding-left: 10px;
        line-height: 40px;
    }
}

@media (max-width: 1200px) {
    #banner-logo {
        min-height: 86px;
    }
    #banner-register {
        min-height: 81px;
    }
}

/*
 *  Site footer
 */
footer {
	background: none;
	border: none;
}
 
#footer-contact {
    background: rgba(82,213,145,.3);
    padding-top: 15px;
    border-top: 1px solid #bbbbbb;
}

#footer-hosts {
    background: rgba(82,213,145,.6);
    padding-top: 15px;
    border-top: 1px solid #bbbbbb;
}

#host-list {
	list-style: none;
	padding-left: 0;
}

#host-list li {	
	display: inline-block;
	margin: 0em 2em 1em 2em;
}

#host-list li:first-child {
	margin-left: 0;
}

/*
 *  Site menu
 */
#site-menu {
	background: #464646;
    padding-left: 0;
    padding-right: 0;
}

#site-menu .list-group .list-group-item {
	background: transparent;
	color: white;
    border: none;
	border-bottom: 1px solid #525252;
    padding-left: 2em;
    text-decoration: none;
}

#site-menu .list-group .list-group-item:hover,
#site-menu .list-group .list-group-item:focus {
    background-color: #3e3e3e;
    text-decoration: none;
}

.item-selected {
    background-color: #3e3e3e !important;
}

.menu-util {
    color: #e3cc5e !important;
}

.glyphicon {  
    color: #C2C2C2; 
}

.glyphicon.glyphicon-comment {
    color: #3e3e3e;   
    margin-right: 15px;
    margin-top: 5px;
    margin-left: 10px;
}

/*
 *  Content area
 */
#content-area {
    line-height: 30px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

#announcements {
    padding-top: 12px;
    margin-bottom: 1.25em;
    font-size: 1.35em;
    background-color: rgba(82,213,145,.3); 
}

#intro li {
    margin-bottom: .5em;   
}


#intro {
    line-height: 30px;
    margin-top: 20px;  
    padding-left: 15px;
    padding-right: 15px;
    min-height: 600px;
    font-size: 1.75em;
    line-height: 1.3em;
}

#homepage-btn {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
}

/*
 *  Index
 */
.home-title {  
    font-size: 1.8em;
    line-height: 1.0em;
    font-weight: bold;
}

.job-titles {
    color: rgba(0,0,0,.7);
    font-weight: bold;
}



/*
 *  Speakers page
 */
.media {
    border-bottom: 1px solid rgba(62,62,62,.2); 
    padding-bottom: 5px;
    padding-top: 15px;
}

.media-object {
    padding-top: 3px;
    
}

.media-heading {
    font-size: 1.6em;
}

.speaker-job {
    display: block;
    margin-bottom: 20px;
    font-size: .8em; 
}

.workplace {
    color: gray;   
    font-style: italic;
}

.image-twitter {
    font-size: 1.3em;
    
}

.social-media a {
    text-decoration: none;   
}

.social-media a:hover {
    font-weight: bold;
}

.social-media a:visited {
   color: black; 
}

#twitter-next-line {
    display: block;
    padding-top: 10px;
}

h4.twitter-handle {
    margin-top: 10px;   
    padding-left: 5px;
}

/*
 *  Sessions page
 */
.session-div {
    font-size: 18px;
    line-height: 1.5em;
    border-bottom: 1px solid rgba(62,62,62,.2); 
    padding-bottom: 20px;    
    padding-top: 20px;
}

.emphasis-bold {
    font-size: 1.1em; 
    font-weight: bold;
    
}

.emphasis-bold-2 {
    font-size: 1.1em; 
    font-weight: bold;
    display: block;
    padding-top: 10px;    
}

.emphasis-text {
    font-style: italic;
    color: gray;

}

.session-title {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 15px;
}

.session-description { 
    
}

.session-supplies {
    
}

.session-name {
    line-height: 1.1em;
    padding-bottom: 15px;
    margin-top: 5px;
}

.session-audience {
    line-height: 1em;
}

.toc-sessions {
    border-bottom: 1px solid rgba(62,62,62,.2); 
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.1em;
    margin-right: 10px;
   
}

.toc-sessions ul { 
    padding-left: 15px;
     
}

.toc-sessions ul a {
    font-weight: bold;
}

.toc-sessions ul a:visited {
    color: #295376;
}

.toc-sessions ul a:hover {
    color: gray;
}

.map-styling {
	position: relative;
	padding-bottom: 30%;
	padding-top: 50px;
	height: 0;
	overflow: hidden;
}

.map-styling iframe {
	position: absolute;
	right: 0px;
	width: 100% !important;
	height: 100% !important;
}

.mapimg{
    width:100%;
}

@media all and (max-width: 992px){
	.map-styling{
	padding-bottom: 35%;
	}    
}

@media all and (max-width: 768px){
	.map-styling{
	padding-bottom: 45%;
	}    
}

/*
 *  Media queries
 */
@media all and (max-width: 768px){
   .media-body{
   /*max-width 500 margin-top: 140px; */  
       display: inline-block;
       margin-top: 15px;
  }
}
@media all and (max-width: 500px){
   .media-object{
      
  }   
    
}

/*
 *	Schedule page
 */
.table.schedule-morning > thead {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

.table.schedule-morning > tbody > tr {
	border-bottom: 1px solid #ddd;
	display: block;
	margin-top: 2em;
	padding-bottom: 1em;
}

.table.schedule-morning > tbody > tr:first-child {
	margin-top: 1em;
}

.table.schedule-morning > tbody > tr > td {
	border-top: none;
	display: block;
	padding: 0 0 4px;
}

@media (min-width: 768px) {
	.table.schedule-morning > thead {
		clip: auto;
		height: auto;
		overflow: visible;
		position: static;
		width: auto;
	}

	.table.schedule-morning > tbody > tr {
		border-bottom: 0;
		display: table-row;
		margin-top: 0;
		padding-bottom: 0;
	}

	.table.schedule-morning > tbody > tr:first-child {
		margin-top: 0;
	}

	.table.schedule-morning > tbody > tr > td {
		border-top: 1px solid #ddd;
		display: table-cell;
		padding: 8px;
	}
}

.talk-title {
	font-weight: bold;
}
 
.speaker-name {
	display: block;
	font-style: italic;
}

/*
 *  Bootstrap overrides
 */
.btn-primary {
	background-color: #52d591;
}

.btn-info {
    background-color: #464646;
}

/*
 *  WET overrides
 */
.wb-twitter {
    padding-top: 15px;
    padding-bottom: 15px;
}

details[open] > * {
	margin: 0;
}




@media (min-width: 979px) {

  #midCol.affix-top {
      position:fixed;
      width:360px;
      margin-right:10px;
      
  }
  
  #midCol.affix {
      position:static;
      width:100%;
  }

}

@media (min-width: 767px) {
  .affix,.affix-top {
      position:fixed;
      width:360px;
      top: 95px;
  }
}

.wxtlogo {
    width:300px;
    fill:#ffffff;

}

.wxtmenulink {
    position:fixed;
    margin: 20px 10px 30px 25px;
}
