/*
 *
 * Codefest 2014
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */
 

#wb-sttl {
	padding-top: 15px !important;
}

#codefest-menu {
	background: #464646;
}

#wb-sec {
	margin-top: 0px;
	border: 0px;
}

#wb-sec .list-group a.list-group-item {
	background: #464646;
	color: white;
	border: 1px solid #525252;
}
