/*
 *
 * Codefest 2014
 * wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html
 *
 */

#side-nav {
	padding-left: 0px;
	padding-right: 0px;
}

#wb-sttl {
	padding-top: 15px !important;
}
